.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  max-width: 500px;
  width: 100%;
  padding: 2rem;
}

.logo {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto 1rem;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  font-size: 14px;
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: transparent;
  color: #333;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #333;
  color: #fff;
}
